---
import Tag from '@/components/atoms/Tag.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title='about - ktym4a' description="ktym4a's about page">
    <div class='flex flex-col gap-2'>
        <div class='flex flex-col gap-4 md:gap-6'>
            <Tag text='StatusCode'>
                <h1
                    class='mb-0 break-all text-2xl font-bold tracking-wide md:mb-1 md:text-4xl lg:text-6xl'
                >
                    <span class='text-ctp-green'>W</span><span
                        class='text-ctp-pink'>I</span
                    ><span class='text-ctp-blue'>P</span>
                </h1>
            </Tag>
            <Tag text='Message' className='gap-2'>
                <p
                    class='mb-1 text-2xl font-bold text-ctp-green md:mb-3 md:text-4xl'
                    >( ._.)</p
                >
                <p class='text-md font-mono font-bold md:text-xl'
                    >Sorry, this page is work in progress.</p
                >
            </Tag>
        </div>
    </div>
</Layout>
