---
import Link from "@/components/atoms/Link.astro";
import Tag from "@/components/atoms/Tag.astro";
import type { ColorType } from "@/types/index";
import type { DiaryCollection } from "@/utils/diary";
import { formatPostDate } from "../utils";

interface Props {
	diary: DiaryCollection & {
		baseColor: ColorType;
	};
}

const { diary } = Astro.props;
---

<article class="relative">
    <Link
        href={`/diaries/${diary.slug}/`}
        colors={{
            text: diary.baseColor.text as string,
            childHoverBackground: diary.baseColor
                .childHoverBackground as string,
            childFocusBackground: diary.baseColor
                .childFocusBackground as string,
            childHoverOutline: diary.baseColor.childHoverOutline as string,
            childFocusOutline: diary.baseColor.childFocusOutline as string,
        }}
        class={""}
        title={diary.data.title}
    >
        <Tag text="Diary" className="h-full">
            <div class="flex h-full flex-col gap-6 justify-between">
                <h2 class="mt-1 font-bold text-2xl">今日の学び</h2>
                <div
                    class="break-words text-sm mb-1 flex items-end gap-1 flex-col justify-end text-ctp-text"
                >
                    <div class="text-lg">
                        <span class="text-ctp-green">kt</span><span
                            class="text-ctp-pink">ym</span
                        ><span class="text-ctp-blue">4</span><span
                            class="text-ctp-peach">a</span
                        >
                    </div>
                    <span>{formatPostDate(diary.data.publishedDate)}</span>
                </div>
            </div>
        </Tag>
    </Link>
</article>
