---
import Tag from '@/components/atoms/Tag.astro'
import NavItem from '@/components/NavItem.astro'
import { COLORS } from '@/constants/color'

interface Props {
    activeName: string
}

const { activeName } = Astro.props
---

<nav class='flex flex-col gap-1'>
    <Tag text='Nav' className='gap-1'>
        <ul class='flex flex-col gap-1 break-all'>
            <NavItem
                href='/'
                current={activeName === 'ktym4a'}
                colors={{
                    text: COLORS.GREEN.text as string
                }}
                title='ktym4a'
                type='file'
            />
            <NavItem
                href='/about/'
                current={activeName === 'about'}
                colors={{
                    text: COLORS.PINK.text as string
                }}
                title='about'
                type='file'
            />
            <NavItem
                href='/uses/'
                current={activeName === 'uses'}
                colors={{
                    text: COLORS.BLUE.text as string
                }}
                title='uses'
                type='file'
            />
            <NavItem
                href='/projects/'
                current={activeName === 'projects'}
                colors={{
                    text: COLORS.PEACH.text as string
                }}
                title='projects'
                type='folder'
            />
            <NavItem
                href='/blog/'
                current={activeName === 'blog'}
                colors={{
                    text: COLORS.MAUVE.text as string
                }}
                title='blog'
                type='folder'
            />
        </ul>
    </Tag>
</nav>
