---
import Tag from '@/components/atoms/Tag.astro'
import NavItem from '@/components/NavItem.astro'
import { COLORS } from '@/types/index'

interface Props {
    currentPath: string
}

const { currentPath } = Astro.props
---

<nav class='flex flex-col gap-1'>
    <Tag text='Nav' className='gap-1'>
        <ul class='flex flex-col gap-1 break-all'>
            <NavItem
                href='/'
                current={currentPath === 'ktym4a'}
                colors={{
                    text: COLORS.GREEN.text as string
                }}
                title='ktym4a'
                type='file'
            />
            <NavItem
                href='/about/'
                current={currentPath === 'about'}
                colors={{
                    text: COLORS.PINK.text as string
                }}
                title='about'
                type='file'
            />
            <li class='text-base text-ctp-subtext0'>{`{/* WIP`}</li>
            <NavItem
                href='/about/me/'
                current={currentPath === 'me'}
                colors={{
                    text: COLORS.BLUE.text as string
                }}
                title='projects'
                wip={true}
                type='folder'
            />
            <li class='text-base text-ctp-subtext0'>{`*/}`}</li>
            <NavItem
                href='/blog/'
                current={currentPath === 'blog'}
                colors={{
                    text: COLORS.PEACH.text as string
                }}
                title='blog'
                type='folder'
            />
        </ul>
    </Tag>
</nav>
