---
import Tag from '@/components/atoms/Tag.astro'
import SNSLinks from '@/components/molecules/SNSLinks.astro'
import Nav from '@/components/organisms/Nav.astro'

interface Props {
    currentPath: string
}

const { currentPath } = Astro.props
---

<Tag text='SideMenu' className='h-full gap-2'>
    <div class='flex h-full flex-col justify-between gap-4 md:gap-6'>
        <div class='flex flex-col gap-4'>
            <Nav currentPath={currentPath} />
        </div>
        <div class='flex flex-col gap-4'>
            <SNSLinks />
        </div>
    </div>
</Tag>
